<?xml version="1.0" encoding="utf-8"?>
<ShaderWindowSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Width>640</Width>
  <Height>480</Height>
  <VSync>Off</VSync>
  <ClearColor>Black</ClearColor>
  <ClearMask>DepthBufferBit ColorBufferBit</ClearMask>
  <WindowState>Fullscreen</WindowState>
  <DisplayDevice>Second</DisplayDevice>
  <TargetRenderFrequency>120</TargetRenderFrequency>
  <RenderState>
    <StateConfiguration xsi:type="EnableState">
      <Capability>Blend</Capability>
    </StateConfiguration>
    <StateConfiguration xsi:type="BlendFunctionState">
      <SourceFactor>SrcAlpha</SourceFactor>
      <DestinationFactor>OneMinusSrcAlpha</DestinationFactor>
    </StateConfiguration>
  </RenderState>
  <GraphicsMode>
    <ColorFormat>
      <Red>8</Red>
      <Green>8</Green>
      <Blue>8</Blue>
      <Alpha>8</Alpha>
    </ColorFormat>
    <Depth>16</Depth>
    <Stencil>0</Stencil>
    <Samples>0</Samples>
    <AccumulatorFormat>
      <Red>0</Red>
      <Green>0</Green>
      <Blue>0</Blue>
      <Alpha>0</Alpha>
    </AccumulatorFormat>
    <Buffers>2</Buffers>
    <Stereo>false</Stereo>
  </GraphicsMode>
  <Shaders>
    <ShaderConfiguration xsi:type="Material">
      <Name>Background</Name>
      <Enabled>true</Enabled>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings>
        <BufferBinding xsi:type="TextureBinding">
          <Name>tex</Name>
          <TextureSlot>Texture0</TextureSlot>
          <TextureName>background</TextureName>
        </BufferBinding>
      </BufferBindings>
      <FramebufferAttachments />
      <VertexShader>shaders\background.vert</VertexShader>
      <FragmentShader>shaders\spriteshift.frag</FragmentShader>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>Walls</Name>
      <Enabled>true</Enabled>
      <RenderState />
      <ShaderUniforms>
        <UniformConfiguration xsi:type="Vec2Uniform">
          <Name>ratiofactor</Name>
          <Value>
            <X>1</X>
            <Y>1</Y>
          </Value>
        </UniformConfiguration>
      </ShaderUniforms>
      <BufferBindings>
        <BufferBinding xsi:type="TextureBinding">
          <Name>tex</Name>
          <TextureSlot>Texture0</TextureSlot>
          <TextureName>walls</TextureName>
        </BufferBinding>
      </BufferBindings>
      <FramebufferAttachments />
      <VertexShader>shaders\sprite.vert</VertexShader>
      <FragmentShader>shaders\sprite.frag</FragmentShader>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>Trigger</Name>
      <Enabled>true</Enabled>
      <RenderState />
      <ShaderUniforms>
        <UniformConfiguration xsi:type="Vec4Uniform">
          <Name>colour</Name>
          <Value>
            <X>0</X>
            <Y>0</Y>
            <Z>1</Z>
            <W>1</W>
          </Value>
        </UniformConfiguration>
        <UniformConfiguration xsi:type="Vec2Uniform">
          <Name>scale</Name>
          <Value>
            <X>0.1</X>
            <Y>1</Y>
          </Value>
        </UniformConfiguration>
        <UniformConfiguration xsi:type="Vec2Uniform">
          <Name>shift</Name>
          <Value>
            <X>-0.85</X>
            <Y>0</Y>
          </Value>
        </UniformConfiguration>
      </ShaderUniforms>
      <BufferBindings />
      <FramebufferAttachments />
      <VertexShader>shaders\background.vert</VertexShader>
      <FragmentShader>shaders\background.frag</FragmentShader>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>Ball</Name>
      <Enabled>true</Enabled>
      <RenderState />
      <ShaderUniforms>
        <UniformConfiguration xsi:type="Vec4Uniform">
          <Name>colour</Name>
          <Value>
            <X>0</X>
            <Y>0</Y>
            <Z>1</Z>
            <W>1</W>
          </Value>
        </UniformConfiguration>
        <UniformConfiguration xsi:type="FloatUniform">
          <Name>smoothness</Name>
          <Value>0.1</Value>
        </UniformConfiguration>
      </ShaderUniforms>
      <BufferBindings />
      <FramebufferAttachments />
      <VertexShader>shaders\sprite.vert</VertexShader>
      <FragmentShader>shaders\circle.frag</FragmentShader>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>Debug</Name>
      <Enabled>true</Enabled>
      <RenderState />
      <ShaderUniforms>
        <UniformConfiguration xsi:type="Vec4Uniform">
          <Name>colour</Name>
          <Value>
            <X>0</X>
            <Y>0</Y>
            <Z>1</Z>
            <W>1</W>
          </Value>
        </UniformConfiguration>
        <UniformConfiguration xsi:type="FloatUniform">
          <Name>smoothness</Name>
          <Value>0.1</Value>
        </UniformConfiguration>
      </ShaderUniforms>
      <BufferBindings />
      <FramebufferAttachments />
      <VertexShader>shaders\sprite.vert</VertexShader>
      <FragmentShader>shaders\anglecircle.frag</FragmentShader>
    </ShaderConfiguration>
  </Shaders>
  <Textures>
    <TextureConfiguration xsi:type="ImageTexture">
      <Name>background</Name>
      <Width xsi:nil="true" />
      <Height xsi:nil="true" />
      <InternalFormat>Rgba</InternalFormat>
      <WrapS>Repeat</WrapS>
      <WrapT>Repeat</WrapT>
      <MinFilter>Linear</MinFilter>
      <MagFilter>Linear</MagFilter>
      <FileName>textures\background.png</FileName>
      <ColorType>Unchanged</ColorType>
      <FlipMode xsi:nil="true" />
    </TextureConfiguration>
    <TextureConfiguration xsi:type="ImageTexture">
      <Name>walls</Name>
      <Width xsi:nil="true" />
      <Height xsi:nil="true" />
      <InternalFormat>Rgba</InternalFormat>
      <WrapS>Repeat</WrapS>
      <WrapT>Repeat</WrapT>
      <MinFilter>Linear</MinFilter>
      <MagFilter>Linear</MagFilter>
      <FileName>textures\walls.png</FileName>
      <ColorType>Unchanged</ColorType>
      <FlipMode xsi:nil="true" />
    </TextureConfiguration>
  </Textures>
  <Meshes>
    <MeshConfiguration xsi:type="TexturedQuad">
      <Name>background</Name>
      <QuadEffects>FlipVertically</QuadEffects>
    </MeshConfiguration>
    <MeshConfiguration xsi:type="TexturedQuad">
      <Name>sprite</Name>
      <QuadEffects>None</QuadEffects>
    </MeshConfiguration>
  </Meshes>
</ShaderWindowSettings>