<?xml version="1.0" encoding="utf-8"?>
<ShaderWindowSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Width>640</Width>
  <Height>480</Height>
  <VSync>On</VSync>
  <ClearColor>Red</ClearColor>
  <ClearMask>DepthBufferBit ColorBufferBit</ClearMask>
  <WindowState>Fullscreen</WindowState>
  <DisplayDevice>Second</DisplayDevice>
  <TargetRenderFrequency>0</TargetRenderFrequency>
  <RenderState>
    <StateConfiguration xsi:type="EnableState">
      <Capability>Blend</Capability>
    </StateConfiguration>
    <StateConfiguration xsi:type="BlendFunctionState">
      <SourceFactor>SrcAlpha</SourceFactor>
      <DestinationFactor>OneMinusSrcAlpha</DestinationFactor>
    </StateConfiguration>
  </RenderState>
  <GraphicsMode>
    <ColorFormat>
      <Red>8</Red>
      <Green>8</Green>
      <Blue>8</Blue>
      <Alpha>8</Alpha>
    </ColorFormat>
    <Depth>16</Depth>
    <Stencil>0</Stencil>
    <Samples>0</Samples>
    <AccumulatorFormat>
      <Red>0</Red>
      <Green>0</Green>
      <Blue>0</Blue>
      <Alpha>0</Alpha>
    </AccumulatorFormat>
    <Buffers>2</Buffers>
    <Stereo>false</Stereo>
  </GraphicsMode>
  <Shaders>
    <ShaderConfiguration xsi:type="Material">
      <Name>White</Name>
      <Enabled>true</Enabled>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings />
      <FramebufferAttachments />
      <VertexShader>quad.vert</VertexShader>
      <FragmentShader>white.frag</FragmentShader>
    </ShaderConfiguration>
    <ShaderConfiguration xsi:type="Material">
      <Name>Target</Name>
      <Enabled>true</Enabled>
      <RenderState />
      <ShaderUniforms />
      <BufferBindings>
        <BufferBinding xsi:type="TextureBinding">
          <Name>tex</Name>
          <TextureSlot>Texture0</TextureSlot>
          <TextureName>target</TextureName>
        </BufferBinding>
      </BufferBindings>
      <FramebufferAttachments />
      <VertexShader>quad.vert</VertexShader>
      <FragmentShader>sprite.frag</FragmentShader>
      <MeshName />
    </ShaderConfiguration>
  </Shaders>
  <Textures>
    <TextureConfiguration xsi:type="ImageTexture">
      <Name>target</Name>
      <Width xsi:nil="true" />
      <Height xsi:nil="true" />
      <InternalFormat>Rgba</InternalFormat>
      <WrapS>Repeat</WrapS>
      <WrapT>Repeat</WrapT>
      <MinFilter>Linear</MinFilter>
      <MagFilter>Linear</MagFilter>
      <FileName>target.png</FileName>
      <Mode>Unchanged</Mode>
    </TextureConfiguration>
  </Textures>
  <Meshes>
    <MeshConfiguration xsi:type="TexturedQuad">
      <Name>Sprite</Name>
      <QuadEffects>None</QuadEffects>
    </MeshConfiguration>
  </Meshes>
</ShaderWindowSettings>