<?xml version="1.0" encoding="utf-8"?>
<ShaderWindowSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Width>640</Width>
  <Height>480</Height>
  <VSync>On</VSync>
  <WindowState>Fullscreen</WindowState>
  <DisplayDevice>Second</DisplayDevice>
  <TargetRenderFrequency>0</TargetRenderFrequency>
  <RenderState>
    <StateConfiguration xsi:type="EnableState">
      <Capability>Blend</Capability>
    </StateConfiguration>
    <StateConfiguration xsi:type="BlendFunctionState">
      <SourceFactor>SrcAlpha</SourceFactor>
      <DestinationFactor>OneMinusSrcAlpha</DestinationFactor>
    </StateConfiguration>
  </RenderState>
  <GraphicsMode>
    <ColorFormat>
      <Red>8</Red>
      <Green>8</Green>
      <Blue>8</Blue>
      <Alpha>8</Alpha>
    </ColorFormat>
    <Depth>16</Depth>
    <Stencil>0</Stencil>
    <Samples>0</Samples>
    <AccumulatorFormat>
      <Red>0</Red>
      <Green>0</Green>
      <Blue>0</Blue>
      <Alpha>0</Alpha>
    </AccumulatorFormat>
    <Buffers>2</Buffers>
    <Stereo>false</Stereo>
  </GraphicsMode>
  <Shaders>
    <ShaderConfiguration>
      <Name>Background</Name>
      <Enabled>true</Enabled>
      <VertexShader>shaders\background.vert</VertexShader>
      <FragmentShader>shaders\background.frag</FragmentShader>
      <RenderState />
      <ShaderUniforms>
        <UniformConfiguration xsi:type="Vec4Uniform">
          <Name>colour</Name>
          <Value>
            <X>0.4</X>
            <Y>0.4</Y>
            <Z>0.4</Z>
            <W>1</W>
          </Value>
        </UniformConfiguration>
      </ShaderUniforms>
      <TextureBindings />
      <FramebufferAttachments />
    </ShaderConfiguration>
    <ShaderConfiguration>
      <Name>Ball</Name>
      <Enabled>true</Enabled>
      <VertexShader>shaders\sprite.vert</VertexShader>
      <FragmentShader>shaders\circle.frag</FragmentShader>
      <RenderState />
      <ShaderUniforms>
        <UniformConfiguration xsi:type="Vec4Uniform">
          <Name>colour</Name>
          <Value>
            <X>1</X>
            <Y>1</Y>
            <Z>1</Z>
            <W>1</W>
          </Value>
        </UniformConfiguration>
      </ShaderUniforms>
      <TextureBindings />
      <FramebufferAttachments />
    </ShaderConfiguration>
  </Shaders>
  <Textures />
  <Meshes>
    <MeshConfiguration xsi:type="TexturedQuad">
      <Name>background</Name>
      <QuadEffects>None</QuadEffects>
    </MeshConfiguration>
    <MeshConfiguration xsi:type="TexturedQuad">
      <Name>sprite</Name>
      <QuadEffects>None</QuadEffects>
    </MeshConfiguration>
  </Meshes>
</ShaderWindowSettings>